#topnav {
    z-index: 1000;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
}
.nav,
.nav * {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Exo 2', sans-serif;
}
.nav li {
    position: relative;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.nav a {
    display: block;
    position: relative;
}
.nav a {
    padding: .75em 1em;
    text-decoration: none;
    background-color: #E0E0E0;
}


.nav a,
.nav a:visited,
.nav li.active li a {
    color: #333333;
}

.nav li:hover,
.nav li.sfHover,
.nav a:focus,
.nav a:hover,
.nav a:active {
    background: #C0C0C0;
}
.column .subnav {
    display: block;
    padding: 25px;
    background-color: #F9F9F9;
    margin-bottom: 30px;
}

.column .subnav h2 {
    margin: 0 0 20px 0;
    padding: 0 0 14px 0;
    font-size: 20px;
    font-weight: normal;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #666666;
    background-color: #F9F9F9;
    line-height: normal;
    border-bottom: 1px dotted #666666;
}

.column .subnav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.column .subnav li {
    margin: 0 0 3px 0;
    padding: 0;
}

.column .subnav ul ul,
.column .subnav ul ul ul,
.column .subnav ul ul ul ul,
.column .subnav ul ul ul ul ul {
    border-top: none;
    padding-top: 0;
}

.column .subnav a {
    display: block;
    margin: 0;
    padding: 5px 10px 5px 20px;
    color: #666666;
    background: url("images/red_file.gif") no-repeat 10px center #F9F9F9;
    text-decoration: none;
    border-bottom: 1px dotted #666666;
}

.column .subnav a:hover {
    color: #A3443E;
    background-color: #F9F9F9;
}

.column .subnav ul ul a,
.column .subnav ul ul ul a,
.column .subnav ul ul ul ul a,
.column .subnav ul ul ul ul ul a {
    background: url("images/black_file.gif") no-repeat #F9F9F9;
}

.column .subnav ul ul a {
    padding-left: 40px;
    background-position: 30px center;
}

.column .subnav ul ul ul a {
    padding-left: 50px;
    background-position: 40px center;
}

.column .subnav ul ul ul ul a {
    padding-left: 60px;
    background-position: 50px center;
}

.column .subnav ul ul ul ul ul a {
    padding-left: 70px;
    background-position: 60px center;
}
